.toolbar .toolbar-bar .toolbar-menu-administration .toolbar-icon.toolbar-icon-hdbt-admin-tools-overview::before {
  -webkit-mask-image: url(../icons/tools.svg);
  mask-image: url(../icons/tools.svg);
}
.toolbar .toolbar-bar .toolbar-menu-administration .toolbar-icon.toolbar-icon-helfi-api-base-debug-settings::before {
  -webkit-mask-image: url(../icons/debug.svg);
  mask-image: url(../icons/debug.svg);
}

.gin--horizontal-toolbar .toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-icon,
.gin--horizontal-toolbar .toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-box > .toolbar-icon:not(.toolbar-handle) {
  padding-inline-end: 1em;
}

.gin--horizontal-toolbar .toolbar .toolbar-bar .toolbar-menu-administration > .toolbar-menu > .menu-item > .toolbar-icon.is-active {
  background-color: rgba(38,88,168,0.05);
}
