/**
 * @file
 * Language selector: add styling for elements that have a language attribute.
 */

/**
 * Select2 container which is applied outside of the CKEditor iframe.
 */
.select2-container.select2-container--open {
  z-index: 10010;
}

.select2-container .select2-selection {
  position: relative;
}

/**
 * Alter language selector dialog button.
 */
a.language-selector__remove.cke_dialog_ui_button {
  display: block;
  padding: 4px 21px;
  margin: 20px auto 0 auto;
}

a.language-selector__remove.cke_dialog_ui_button:focus,
a.language-selector__remove.cke_dialog_ui_button:active {
  padding: 4px 21px;
}

a.language-selector__remove span.cke_dialog_ui_button {
  font-size: 14px;
}
