services:
  _defaults:
    autoconfigure: true
    autowire: true

  Drupal\helfi_platform_config\Helper\BlockInstaller: '@helfi_platform_config.helper.block_installer'
  helfi_platform_config.helper.block_installer:
    class: Drupal\helfi_platform_config\Helper\BlockInstaller
    arguments:
      - '@theme_handler'
      - '@entity_type.manager'
      - '@language_manager'

  helfi_platform_config.menu_language_filter:
    class: Drupal\helfi_platform_config\Menu\FilterByLanguage
    arguments:
      - '@router.admin_context'

  helfi_platform_config.route_subscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\RouteSubscriber
    arguments: ['@current_route_match']

  Drupal\helfi_platform_config\EventSubscriber\SearchApiSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\SearchApiSubscriber
    arguments: []

  Drupal\helfi_platform_config\EventSubscriber\CspCleanSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspCleanSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspIbmChatAppSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspIbmChatAppSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspReactAndShareSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspReactAndShareSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspTeliaAceWidgetSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspTeliaAceWidgetSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspElasticProxySubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspElasticProxySubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspCommonSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspCommonSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspLocalDevSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspLocalDevSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspSiteimproveSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspSiteimproveSubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspSentrySubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspSentrySubscriber

  Drupal\helfi_platform_config\EventSubscriber\CspSocialMediaSubscriber:
    class: Drupal\helfi_platform_config\EventSubscriber\CspSocialMediaSubscriber

  Drupal\helfi_platform_config\EntityVersionMatcher: '@helfi_platform_config.entity_version_matcher'
  helfi_platform_config.entity_version_matcher:
    class: Drupal\helfi_platform_config\EntityVersionMatcher
    arguments: ['@entity_type.manager', '@current_route_match', '@language_manager']

  helfi_platform_config.twig.DrupalEntityRevision:
    class: Drupal\helfi_platform_config\TwigExtension\DrupalEntityRevision
    tags:
      - { name: twig.extension }

  Drupal\helfi_platform_config\ConfigUpdate\ConfigUpdater: '@helfi_platform_config.config_update_helper'
  helfi_platform_config.config_update_helper:
    class: Drupal\helfi_platform_config\ConfigUpdate\ConfigUpdater
    arguments:
      - '@config.installer'
      - '@config_rewrite.config_rewriter'
      - '@module_handler'
      - '@entity_type.manager'

  Drupal\helfi_platform_config\ConfigUpdate\ParagraphTypeUpdater: '@helfi_platform_config.paragraph_type_updater'
  helfi_platform_config.paragraph_type_updater:
    class: Drupal\helfi_platform_config\ConfigUpdate\ParagraphTypeUpdater
    arguments: ['@module_handler', '@entity_field.manager']

  helfi_platform_config.term_route_subscriber:
    class: Drupal\helfi_platform_config\Routing\TermRouteSubscriber

  helfi_platform_config.filter_disabled_translations:
    class: Drupal\helfi_platform_config\Menu\FilterDisabledTranslations
    arguments:
      - '@entity_type.manager'
      - '@language_manager'
      - '@router.admin_context'

  logger.channel.helfi_platform_config:
    parent: logger.channel_base
    arguments:
      - 'helfi_platform_config'

  Drupal\helfi_platform_config\Token\OGImageManager: '@helfi_platform_config.og_image_manager'
  helfi_platform_config.og_image_manager:
    class: Drupal\helfi_platform_config\Token\OGImageManager
    arguments:
      - '@module_handler'
      - '@file_url_generator'
    tags:
      - { name: service_collector, call: add, tag: helfi_platform_config.og_image_builder }

  helfi_platform_config.og_image.default:
    class: Drupal\helfi_platform_config\Token\DefaultImageBuilder
    arguments:
      - '@module_handler'
      - '@language_manager'
      - '@file_url_generator'
    tags:
      - { name: helfi_platform_config.og_image_builder, priority: -100 }

  Drupal\helfi_platform_config\RedirectCleaner: ~

  # Client builder factory for etusivu elastic search.
  Drupal\helfi_platform_config\ClientBuilder: ~
  helfi_platform_config.etusivu_elastic_client:
    class: Elastic\Elasticsearch\Client
    factory: ['@Drupal\helfi_platform_config\ClientBuilder', 'create']


  Drupal\helfi_platform_config\TextConverter\TextConverterManager:
    tags:
      - { name: service_collector, call: add, tag: helfi_platform_config.text_converter }

  Drupal\helfi_platform_config\TextConverter\RenderTextConverter:
    tags:
      - { name: helfi_platform_config.text_converter, priority: -1 }
