react_and_share:
  version: 1.0.0
  js:
    assets/js/reactAndShareSettings.js: {}
  dependencies:
    - core/drupal
    - core/drupalSettings

chat_enhancer:
  version: 1.0.0
  header: true
  js:
    assets/js/chat_enhancer.js: {}
  dependencies:
    - core/drupal

telia_ace_widget_loadjs:
  version: 1.1.2
  css:
    theme:
      assets/css/telia_ace.css: {}
  js:
    assets/js/telia_ace.js: {}

tom_select:
  version: 2.2.2
  remote: https://github.com/orchidjs/tom-select
  license:
    name: Apache license 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  js:
    assets/js/tomSelectComplete.min.js: { weight: -1, minified: true }
  css:
    theme:
      assets/css/tom_select.css: {}

a11y_autocomplete:
  version: 1.0.0
  js:
    dist/js/a11y-autocomplete.min.js: { minified: true }

location_autocomplete:
  version: 1.0.3
  js:
    dist/js/autocomplete.min.js: { minified: true }
  dependencies:
    - helfi_platform_config/a11y_autocomplete
    - core/drupal
    - core/drupalSettings
    - core/once

heading_id_injector:
  version: 1.0.0
  js:
    dist/js/headingIdInjector.min.js: { minified: true }
  dependencies:
    - core/drupal
    - core/drupalSettings
    - core/once

heading_anchor_buttons:
  version: 1.0.0
  js:
    dist/js/headingAnchorButtons.min.js: { minified: true }
  dependencies:
    - helfi_platform_config/heading_id_injector
    - core/drupal
    - core/once

sentry_ignore:
  version: 1.0.0
  js:
    dist/js/sentryIgnore.min.js: { minified: true }
  dependencies:
    - core/drupalSettings
