parameters:
  fileExtensions:
      - php
      - module
      - install
  paths:
    - ./
  excludePaths:
    - vendor
  level: 3
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      message: '#^Unsafe usage of new static#'
      path: src/Plugin/Block/ContentBlockBase.php
    -
      message: '#^Access to an undefined property Drupal\\Core\\Field\\FieldItemListInterface<Drupal\\Core\\Field\\FieldItemInterface>::\$iframe_title.#'
      path: modules/helfi_media_remote_video/src/Entity/RemoteVideo.php
    -
      message: '#^\\Drupal calls should be avoided in classes, use dependency injection instead#'
      path: modules/helfi_ckeditor/src/Plugin/CKEditor5Plugin/HelfiLink.php
    -
      message: '#^Unsafe usage of new static#'
      path: modules/hdbt_admin_tools/src/SelectWidgetBase.php
    -
      message: '#^Access to an undefined property Drupal\\media\\MediaInterface::\$field_media_image.#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
      reportUnmatched: false
    -
      message: '#^Access to an undefined property Drupal\\node\\NodeInterface::\$field_organization.#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
      reportUnmatched: false
    -
      message: '#^Access to an undefined property Drupal\\Core\\Entity\\EntityInterface::\$field_default_image.#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
      reportUnmatched: false
    -
      message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::getFileUri\(\).#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
      reportUnmatched: false
    -
      message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::getFileUri\(\).#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
      reportUnmatched: false
    -
      message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::hasField\(\).#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
    -
      message: '#^Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::get\(\).#'
      path: modules/helfi_platform_config_base/src/Token/NodeImageBuilder.php
    -
      message: '#^Call to an undefined method Drupal\\Core\\TypedData\\TypedDataInterface::getTarget\(\).#'
      path: helfi_platform_config.tokens.inc
    -
      message: '#^Call to an undefined method Drupal\\Core\\Field\\FieldDefinitionInterface::save\(\).#'
      path: helfi_platform_config.module
