includes:
	- phpstan-baseline.neon
parameters:
  fileExtensions:
      - php
      - module
      - install
  paths:
    - ./
  excludePaths:
    - vendor
  level: 7
  treatPhpDocTypesAsCertain: false
