.ck.ck-balloon-panel.helfi-contextual-balloon {
  border: 0;
  border-radius: 10px !important;
  height: auto;
  left: 50vw !important;
  max-width: 700px;
  min-width: 380px;
  position: fixed;
  top: 50vh !important;
  transform: translate(-50%, -50%);
  width: 50vw;
  z-index: 10001;
}

@media (min-width: 1024px) {
  .ck.ck-balloon-panel.helfi-contextual-balloon {
    left: 19% !important;
    transform: translate(-20%, -50%);
  }
}

@media (min-width: 1300px) {
  .ck.ck-balloon-panel.helfi-contextual-balloon {
    left: 22% !important;
    transform: translate(-22%, -50%);
  }
}

@media (min-width: 1500px) {
  .ck.ck-balloon-panel.helfi-contextual-balloon {
    left: 27% !important;
    transform: translate(-26%, -50%);
  }
}

@media (min-width: 1800px) {
  .ck.ck-balloon-panel.helfi-contextual-balloon {
    left: 34% !important;
    transform: translate(-34%, -50%);
  }
}

@media (min-width: 2200px) {
  .ck.ck-balloon-panel.helfi-contextual-balloon {
    left: 38% !important;
    transform: translate(-38%, -50%);
  }
}

.ck.ck-balloon-panel.helfi-contextual-balloon .ck-labeled-field-view {
  max-width: 600px;
}

/**
 * The link plugin has changed the field layout in CKEditor 4.20.0.
 * The following styles are to make sure the layout is the same as before.
 */

/* Helfi link form */
.ck.ck-form.ck-link-form.helfi-link-form {
  column-gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "header header"
  "protocol protocol"
  "link-url link-url"
  "link-text link-text"
  "advanced-settings advanced-settings"
  "save-button back-button";
  padding: 0 0 1rem;
  row-gap: 0.8rem;
  max-width: 100%;
  width: 100%;
  max-width: 100%;
}

/* Link form header */
.ck.ck-link-form.helfi-link-form .ck.ck-form__header {
  background-color: #0072c6;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff;
  grid-area: header;
  padding: 0 1rem;
}

/* Link form protocol */
.ck.ck-link-form.helfi-link-form > select.ck-helfi-link-select-list ~ .ts-wrapper.ck-helfi-link-select-list {
  grid-area: protocol;
  margin: 0 1rem !important;
}

/* Link form link text field */
.ck.ck-link-form.helfi-link-form > .helfi-link-text-input {
  grid-area: link-url;
  margin: 0 1rem !important;
}

/* Link form URL field */
.ck.ck-link-form.helfi-link-form > .helfi-link-url-input {
  grid-area: link-text;
  margin: 0 1rem !important;
}

/* Link form advanced settings */
.ck.ck-link-form.helfi-link-form > .ck-helfi-link-details {
  grid-area: advanced-settings;
  margin: 0 1rem 0.5rem !important;
}

/* Link form save button */
.ck.ck-link-form.helfi-link-form .helfi-link-save-button {
  border-radius: 0.5rem !important;
  background-color: #0072c6;
  color: #fff;
  grid-area: save-button;
  margin: 0 1rem !important;
  padding: 0.5rem;
}

.ck.ck-link-form.helfi-link-form .helfi-link-save-button:hover {
  background-color: #005799;
  color: #fff !important;
}

.ck.ck-link-form.helfi-link-form .helfi-link-save-button .ck-button__label {
  text-align: center;
  width: 100%;
}

.ck.ck-link-form.helfi-link-form .helfi-link-save-button::after {
  display: none;
}

/* Link form back button */
.ck.ck-link-form.helfi-link-form .helfi-link-back-button {
  background-color: #595959;
  color: #fff;
  grid-area: back-button;
  margin: 0 1rem !important;
  padding: 0.5rem;
}

.ck.ck-link-form.helfi-link-form .helfi-link-back-button:hover {
  background-color: #1a1a1a;
  color: #fff;
}

/* Hide the back button icon. */
.ck.ck-link-form.helfi-link-form .helfi-link-back-button svg.ck-button__icon {
  display: none;
}

/* Show the back button label.  */
.ck.ck-link-form.helfi-link-form .helfi-link-back-button .ck-button__label {
  display: block;
}

/* Hide panel arrows. */
.ck.ck-balloon-panel.helfi-contextual-balloon.ck-balloon-panel_with-arrow::before,
.ck.ck-balloon-panel.helfi-contextual-balloon.ck-balloon-panel_with-arrow::after {
  display: none;
}

/* Contextual balloon header. */
.ck.ck-balloon-panel.helfi-contextual-balloon .ck.ck-form__header .ck-form__header__label {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

/* Dropdown */
.ck.helfi-link--icon,
.ck.helfi-link--design,
.ck.helfi-link--protocol {
  max-width: 160px !important;
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper {
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #8e929c;
  box-sizing: border-box;
  color: #222330;
  min-height: 3rem; /* iOS. */
  padding: 0;
  transition: .15s cubic-bezier(.19, 1, .22, 1);
  box-shadow: 0 1px 2px rgba(18, 18, 18, .25);
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper .ck.ck-label,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper .ck.ck-label,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper .ck.ck-label {
  transform: unset !important;
  max-width: unset !important;
  position: absolute;
  font-size: 15px;
  left: 10px !important;
  top: 14px !important;
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown {
  height: 100%;
  width: 100%;
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button {
  min-height: 45px;
  justify-content: flex-end;
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper .ck.ck-dropdown .ck-dropdown__arrow,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper .ck.ck-dropdown .ck-dropdown__arrow,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper .ck.ck-dropdown .ck-dropdown__arrow {
  right: 10px;
  width: 15px;
  position: absolute;
}

.ck.helfi-link--icon .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button.ck-on .ck-dropdown__arrow,
.ck.helfi-link--design .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button.ck-on .ck-dropdown__arrow,
.ck.helfi-link--protocol .ck-labeled-field-view__input-wrapper > .ck.ck-dropdown .ck-dropdown__button.ck-on .ck-dropdown__arrow {
  transform: rotate(180deg);
}

.ck.helfi-link--icon .ck-list,
.ck.helfi-link--design .ck-list,
.ck.helfi-link--protocol .ck-list {
  margin: 0 !important;
}

/* Link field select list dropdown */
.ck-helfi-link-select-list.ts-wrapper {
  margin: 1rem !important;
}

.ck-helfi-link-select-list .ts-control {
  padding: calc(0.5rem - 1px) calc(0.75rem - 1px);
}

/* Link field select list dropdown input */
.ck-helfi-link-select-list .ts-control input {
  width: 100%;
  border: 0 none;
}

/* Hide TomSelect if original select list is hidden. */
select.tomselected.is-hidden + .ts-wrapper {
  display: none;
}

/* Advanced settings - Details */
/* Mimic the .claro-details styles. */
.ck-helfi-link-details {
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #d4d4d8;
  box-shadow: none;
  color: #232429;
  display: block;
  padding: 0.2rem 0;
  position: relative;
}

.ck-helfi-link-details[open] {
  padding-bottom: 1rem;
}

/* Mimic the .claro-details__summary styles. */
.ck-helfi-link-details__summary {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  background-color: transparent;
  box-sizing: border-box;
  color: #434343;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  hyphens: auto;
  line-height: 1rem;
  list-style: none;
  padding: .8rem 1rem .8rem 3rem;
  position: relative;
  transition: background-color 0.12s ease-in-out;
  word-wrap: break-word;
}

/* Mimic the .claro-details__summary styles. */
.ck-helfi-link-details__summary::before {
  position: absolute;
  top: 50%;
  left: 1rem; /* LTR */
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-top: -0.5rem;
  content: "";
  transition: transform 0.12s ease-in 0s;
  transform: rotate(90deg); /* LTR */
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'%3e%3cpath d='M5.21 1.314L3.79 2.723l5.302 5.353-5.303 5.354 1.422 1.408 6.697-6.762z' fill='%23545560'/%3e%3c/svg%3e");
  background-size: contain;
}

/* Mimic the .claro-details__summary styles. */
.ck-helfi-link-details__summary[aria-expanded=true]::before {
  transform: rotate(-90deg); /* LTR */
}

/* Mimic styles from Claro .form-element with Gin variables */
.ck.helfi-link-form .ck-labeled-field-view input.ck-input {
  appearance: none;
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #8e929c;
  box-sizing: border-box;
  color: #222330;
  font-size: 1rem;
  line-height: 1.5rem;
  max-width: 100%;
  min-height: 3rem; /* iOS. */
  padding: calc(0.75rem - 1px) calc(1rem - 1px);
  transition: .15s cubic-bezier(.19, 1, .22, 1);
}

/* Input field description help text */
.ck .helfi-link-form .ck-labeled-field-view__status,
.ck .helfi-link-form__field_description {
  display: block !important;
  font-size: 0.75rem !important;
  line-height: 1.5;
  margin-top: 0.2rem;
  max-width: fit-content;
  white-space: normal !important;
}

.ck .helfi-link-form .ck-labeled-field-view__status:not(.ck-labeled-field-view__status_error) {
  color: #55565b !important;
}

.ck .helfi-link-form__field_description a {
  cursor: pointer;
  color: #0a6eb4;
}

/* Input checkboxes. */
.ck .helfi-link-checkbox {
  margin-left: 1rem !important;
  margin-top: 1rem;
}

.ck .helfi-link-checkbox label {
  line-height: 1.5rem;
  padding-left: 0.4rem !important;
}

/* Save and cancel buttons */
.ck.ck-responsive-form.helfi-link-form .ck.ck-button {
  margin: 0;
  cursor: pointer;
}

/* Links inside the ckeditor. */
.ck-content .link {
  cursor: text;
}

/* CKEditor introduced "powered by ckeditor" -logo. Hide it. */
.ck-powered-by {
  display: none;
}

.is-hidden {
  display: none;
}
