.cx-webchat.cx-theme-helsinki-blue {
  right: 20px !important;
  width: 500px;
  font: 400 normal normal 20px/1.3 Arial, sans-serif;
  color: white;
  font-size: 20px;
  background-color: white;
  right: 20px !important;
}

.cx-theme-helsinki-blue .cx-common-container .cx-titlebar {
  background-color: #0000bf;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cx-theme-helsinki-blue .cx-common-container .cx-titlebar .cx-title {
  margin-right: 70px;
  text-align: center;
  word-break: break-word;
  font-size: 1.3em;
}

.cx-theme-helsinki-blue .cx-message-group {
  position: relative;
  margin: 10px 0px 0px 5px;
}

.cx-theme-helsinki-blue .cx-message-group:last-child {
  padding-bottom: 50px;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message.cx-system {
  margin: 0;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message {
  min-height: 35px;
  width: fit-content;
}

.cx-theme-helsinki-blue .cx-message.cx-participant {
  max-width: 90%;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message .cx-time {
  color: #d6d6d6;
  display: block;
  text-align: right;
  margin-bottom: 0;
  margin-top: 5px;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message.cx-system .cx-bubble,
.cx-theme-helsinki-blue .cx-bubble {
  display: flex;
  flex-direction: column;
  background-color: #0000bf;
  border-radius: 0.4em;
  padding: 0.5em;
  border-bottom-left-radius: 0.4em !important;
  border-bottom-right-radius: 0.4em !important;
  border-top-left-radius: 0.4em !important;
  border-top-right-radius: 0.4em !important;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant:last-child .cx-bubble,
.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message-group > .cx-message.cx-participant:first-child .cx-bubble {
  border-bottom-left-radius: 0.4em !important;
  border-bottom-right-radius: 0.4em !important;
  border-top-left-radius: 0.4em !important;
  border-top-right-radius: 0.4em !important;
}

.cx-theme-helsinki-blue .cx-webchat div.cx-input-container {
  border: none !important;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 2px;
  display: flex !important;
  background-color: #f4f4f4 !important;
  max-height: 44px;
  box-shadow: none;
  padding: 0px !important;
}

.cx-theme-helsinki-blue .cx-webchat div.cx-input-container .cx-textarea-cell {
  position: relative;
  border: none !important;
  background-color: transparent !important;
  height: 100%;
  color: black;
  width: 100%;
}

.cx-theme-helsinki-blue .cx-menu-cell {
  display: none;
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message.cx-you,
.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message .cx-name {
  color: white;
}

.cx-theme-helsinki-blue svg {
  fill: white;
}

.cx-theme-helsinki-blue .cx-bubble-arrow svg {
  fill: #0000bf;
}

.cx-webchat .cx-transcript .cx-message .cx-bubble {
  padding: 0.5em;
}

.cx-textarea-cell .cx-send.cx-icon,
#gwc-chat-icon-iks-mobile {
  background-color: unset;
  border: unset;
  border-radius: unset;
  margin: unset;
  padding: unset;
  color: unset;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile .cx-message-input {
  margin-top: 0px !important;
  font-size: 0.9em !important;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile div.cx-input-container {
  max-height: 50px;
  padding: unset;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile .cx-body {
  display: contents;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile .cx-body {
  display: contents;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile .cx-alert {
  margin-top: 102px;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile div.cx-input-container .cx-message-input {
  max-height: unset;
  overflow: scroll !important;
  min-height: 30px;
  padding: 0px 65px 0px 0px !important;
}

.cx-theme-helsinki-blue #cx_chat_error_desc {
  color: black;
}

.cx-theme-helsinki-blue .cx-webchat.cx-mobile div.cx-input-container .cx-input-focus {
  bottom: 0px;
}

.cx-theme-helsinki-blue .cx-button-group.cx-buttons-window-control .cx-icon {
  border-radius: unset;
}

.cx-textarea-cell .cx-send.cx-icon svg {
  fill: black;
}

.cx-theme-helsinki-blue .cx-webchat div.cx-input-container .cx-message-input {
  padding: 14px 16px 27px 24px;
  margin-bottom: 0px;
  min-height: 55px !important;
  /* height: 40px;
        padding-top: 0px;
        padding-bottom: 0px;
        border-width: 0px;
        max-height: 20px; */
}

.cx-theme-helsinki-blue .cx-webchat .cx-transcript .cx-message .cx-message-text {
  word-break: break-word;
}

.cx-theme-helsinki-blue .cx-common-container .cx-buttons-window-control button {
  width: 25px;
  height: 25px;
}

#chatAuthenticationElement,
#helfiChatAuthElementDone {
  height: 50px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 400 normal normal 16px/1.3 Arial, sans-serif;
  margin-top: -1px;
}

#chatAuthenticationElement a,
#helfiChatAuthElementDone a {
  color: white;
}

.gwc-chat-logo-helsinki {
  width: 70px;
}

.cx-theme-helsinki-blue .cx-side-button-group {
  bottom: 0;
  -webkit-transform: unset;
  z-index: 100 !important;
}

.cx-widget.cx-webchat-chat-button.cx-side-button.cx-theme-helsinki-blue {
  background-position: bottom right !important;
  display: flex;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  width: 150px;
  height: 114px;
  background: none;
  border: none;
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  transition: none;
}

@media only screen and (max-width: 575px) {
  cx-widget.cx-webchat-chat-button.cx-side-button.cx-theme-helsinki-blue,
  .cx-widget.cx-webchat-chat-button.cx-side-button.cx-theme-helsinki-blue:hover {
    width: 114px !important;
  }
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-open {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-open.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-busy {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-busy.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-closed {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-closed.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-open-sv {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-open-sv.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-busy-sv {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-busy-sv.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-closed-sv {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-closed-sv.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-open-en {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-open-en.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-busy-en {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-busy-en.png) !important;
}

.cx-theme-helsinki-blue .cx-webchat-chat-button-closed-en {
  background-image: url(https://www.hel.fi/static/helsinki/chat/chat-closed-en.png) !important;
}

.cx-webchat-chat-button-mobile-open {
  background-image: url(https://www.hel.fi/static/helsinki/chat/mobile_open1.svg) !important;
}

.cx-webchat-chat-button-mobile-busy {
  background-image: url(https://www.hel.fi/static/helsinki/chat/mobile_busy1.svg) !important;
}

.cx-webchat-chat-button-mobile-closed {
  background-image: url(https://www.hel.fi/static/helsinki/chat/mobile_closed_strike1.svg) !important;
}

.cx-widget.cx-webchat-chat-button.cx-side-button.cx-theme-helsinki-blue .cx-icon,
.cx-widget.cx-webchat-chat-button.cx-side-button.cx-theme-helsinki-blue .cx-chat-button-label {
  display: none;
}

.cx-theme-helsinki-blue .cx-avatar.user svg {
  fill: black;
}

.cx-webchat.cx-theme-helsinki-blue .cx-transcript .cx-message-group > .cx-message.cx-participant .cx-avatar-wrapper {
  display: block !important;
  left: 100%;
}

.cx-webchat.cx-theme-helsinki-blue .cx-transcript .cx-message-group > .cx-message.cx-participant .cx-bubble-arrow,
.cx-webchat.cx-theme-helsinki-blue .cx-transcript .cx-message-group > .cx-message.cx-participant .cx-time {
  display: block !important;
}

.cx-webchat.cx-theme-helsinki-blue .cx-transcript .cx-message-group > .cx-message.cx-participant:first-child .cx-name {
  display: none !important;
}

.cx-webchat.cx-theme-helsinki-blue .cx-transcript .cx-avatar {
  width: 40px;
}

.cx-widget.cx-theme-helsinki-blue .cx-side-button-group {
  top: unset;
}

.cx-theme-helsinki-blue .cx-widget-status {
  display: none;
}

#cx_chat_end_question {
  margin-top: 4%;
  text-align: center;
  color: black;
}

.cx-theme-helsinki-blue .cx-button-group.cx-buttons-binary {
  display: flex;
  justify-content: space-evenly;
}

.cx-theme-helsinki-blue .cx-buttons-binary .cx-btn {
  background-color: #0000bf;
}

#gwc-chat-icon-iks-mobile {
  width: 50px;
  cursor: pointer;
  position: fixed;
  bottom: 58px;
  right: 5px;
  filter: invert(100%);
  z-index: 99999999 !important;
  box-shadow: unset;
}

.cx-theme-helsinki-blue .cx-form-wrapper {
  display: none !important;
}

.cx-theme-helsinki-blue .cx-textarea-cell {
  display: flex;
  align-items: flex-end;
}

#cx_input {
  padding: 12px !important;
  margin: 0 !important;
  flex: 6;
  position: relative;
  max-height: 49px;
}

.cx-send.cx-icon.i18n svg {
  width: 35px;
}

.cx-send.cx-icon.i18n {
  position: relative;
  flex: 1;
  right: auto;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cx-Agent .cx-avatar-wrapper {
  display: block !important;
  left: -3% !important;
  position: absolute;
  width: 50px !important;
}

.cx-avatar.agent svg {
  fill: black;
}

.cx-message-text {
  color: white;
}

.cx-powered-by {
  display: none;
}

.cx-widget.cx-common-container.cx-toast.cx-theme-helsinki-blue {
  background-color: white;
}

.cx-widget.cx-common-container.cx-toast.cx-theme-helsinki-blue .cx-titlebar,
.cx-widget.cx-common-container.cx-toast.cx-theme-helsinki-blue .cx-button-group.cx-buttons-binary {
  color: white;
}

.cx-title {
  font-size: 0.9em !important;
  font-family: "HelsinkiGroteskBlack", "Arimo-Bold", sans-serif;
}

.cx-input-focus {
  outline: -webkit-focus-ring-color auto 1px !important;
}

.cx-send {
  min-height: 55px;
}

.cx-widget img[src$="close-next.svg"] {
  max-width: 100%;
}
