#telia-ace-leijuke {
  color: #ffffff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
.telia-chat-leijuke.loading {
  cursor: wait;
}
.region--attachments .humany-rendered {
  visibility: visible;
}
.region--attachments > div > h2 {
  display: none;
}
