/**
 * Tom Select v2.2.2 altered to suit City of Helsinki needs.
 *
 * This stylesteet applies useful resets that themes override
 * to suit their needs. Do not implement complex theming here.
 *
 * See hdbt and hdbt_admin themes.
 */

/* Select element styles */
.ts-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* TS wrapper styles */
.ts-wrapper {
  width: 100%;
}

/* TS control div styles */
.ts-control {
  align-items: center;
  cursor: pointer;
  display: flex;
}

/* Deselect button */
.ts-control .remove {
  cursor: pointer;
  float: right;
  color: #222330;
  font-weight: bold;
  padding: 7px 10px 7px 7px;
}

/* Items placeholder styles */
.plugin-dropdown_input input.items-placeholder {
  border: 0 none !important;
  box-shadow: none !important;
  cursor: pointer;
  width: 100%;
}

.plugin-dropdown_input.has-items input.items-placeholder,
.plugin-dropdown_input.dropdown-active input.items-placeholder {
  display: none !important;
}

/* Dropdown styles*/
.ts-dropdown {
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 10;
}

.ts-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.ts-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  border-radius: 1px;
}

.ts-dropdown .option, .ts-dropdown [data-disabled], .ts-dropdown [data-disabled] [data-selectable].option {
  cursor: inherit;
  opacity: 0.5;
}

.ts-dropdown [data-selectable].option {
  opacity: 1;
  cursor: pointer;
}

.ts-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}

.ts-dropdown .optgroup-header {
  cursor: default;
}

.ts-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/* Miscellaneous styles */
.input-hidden .ts-control > input {
  opacity: 0;
  position: absolute;
  left: -10000px;
}
