<{{ wrapper }} {{ attributes }}>
  {# {% for i in range(1, num_items)%}
    <div class="card card--teaser card--border card--ghost">
      <div class="card__image"></div>
      <div class="card__text">
        <div class="card__title"></div>
        <div class="card__description"></div>
      </div>
    </div>
  {% endfor %} #}
  {{ message }}
</{{ wrapper }}>
