.select2-icon + .select2-container,
.select2-icon + .select2-container .select2-selection {
  min-height: 65px;
}

.select2-icon + .select2-container .select2-selection__placeholder,
.select2-icon + .select2-container .select2-selection__arrow,
.select2-icon + .select2-container .select2-selection__clear {
  padding: 7px;
}

.select2-icon + .select2-container .select2-selection--single .select2-selection__arrow {
  height: 45px;
  right: 5px;
  top: 0;
}

.ui-widget-overlay + .select2-container {
  z-index: 10002;
}

.select2-results .hel-icon,
.select2-selection .hel-icon {
  --icon-proportions: 36px;
  background-color: #000;
  content:"";
  display:inline-block;
  height:var(--icon-proportions);
  -webkit-mask-repeat:no-repeat;
  mask-repeat:no-repeat;
  -webkit-mask-size:var(--icon-proportions);
  mask-size:var(--icon-proportions);
  min-height:var(--icon-proportions);
  min-width:var(--icon-proportions);
  position:static;
  width:var(--icon-proportions);
}

.select2-results__option--highlighted .hel-icon {
  background-color: #fff;
}
